@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../assets/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: left 90% top -200px; 
}

#CTA {
    background-image: url('../assets/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}

#testimonials {
    background-image: url('../assets/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background-image: url('../assets/team_plan.webp');
    background-size: cover;
    background-position: center center;
}

@media(max-width: 768px) {
    body {
        background-size: 800px;
        background-position: 50px -50px; 
    }
    
    #CTA {
        background-image: url('../assets/bg-simplify-section-mobile.svg');
    }

    #testimonials {
        background-image: url('../assets/bg-simplify-section-mobile.svg');
    }
}

/* Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all .25s;
    position: relative;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all .25s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}